:root {
    --primary-font: "hwt-artz", sans-serif;
    --placeholder-form-font: 'Open Sans', sans-serif; ;
    --primary-font-weight: 700;
    --login-title-font-size: 2.4rem;
    --primary-font-color: #FFF;
    --secondary-font-color: #000;
    --not-active-font-color: #757575;
    --placeholder-form-font-color: #8F8F8F;
    --error-password-font-color: #E00000;
    --correct-password-font-color: #32A709;
    
}

    .modal-title-structure {
        font-size: 2.4rem;
        font-family: var(--primary-font);
        color: var(--not-active-font-color);
        font-weight: var(--primary-font-weight);
        text-shadow: 0rem 0.2rem 0rem var(--secondary-font-color);
        text-align: center;
    }

    .bright-font {
        color: var(--primary-font-color);
    }

    .darking-font {
        color: var(--not-active-font-color);
    }

    