:root {
	--red-001: #d72626;
	--red-002: #992b2b;
	--red-003: #8a1515;
	--brown-001: #6c2e1a;
	--white-001: #ffffff;
	--black-001: #000000;
	--blue-001: #266cd7;
	--blue-medium: #2a4e92;
	--green-neon: #26d74d;
	--green-001: #3ebf43;
	--green-002: #5b992b;
	--green-003: #3e6c1a;
	--green-004: #2f5016;
	--khaki-001: #728734;
	--khaki-002: #505f24;
	--yellow-001: #ffe241;
	--yellow-002: #d7ba26;
	--yellow-003: #c9a617;
	--purple-001: #9326d7;
	--pink-001: #d726d0;
	--grey-001: #d9d9d9;
	--red-font-001: #d10b0b;
	--red-font-002: #e00000;
	--green-font-001: #32a709;
	--grey-font-001: #8f8f8f;
	--grey-font-002: #757575;
	--grey-font-003: #676767;
	--green-button-outer: linear-gradient(180deg, #66fa73 0%, #0d8011 100%);
	--green-button-inner: linear-gradient(180deg, #3dbe42 0%, #3bb827 100%);
	--red-button-outer: linear-gradient(180deg, #fa6666 0%, #800d0d 100%);
	--red-button-inner: #be3d3d;
	--grey-button-inner: linear-gradient(180deg, #353c4e 0%, #484f62 100%);
	--grey-button-outer: linear-gradient(180deg, #63666b 0%, #262c3a 100%);
	--background-color-001: linear-gradient(
		0deg,
		#fdd610 0%,
		#fdbe14 11%,
		#fd8321 34%,
		#fd3931 60%,
		#c4273b 74%,
		#540452 100%
	);
	--background-border-color: #181818;
	--text-shadow-4px: 
	-0.1rem -0.1rem 0 #000,  
	0.1rem -0.1rem 0 #000,
	0.1rem 0.4rem 0 #000,
	 0.1rem 0.4rem 0 #000;
	--text-shadow-2px: 
	-0.1rem -0.1rem 0 #000,  
	 0.1rem -0.1rem 0 #000,
	 0.1rem 0.2rem 0 #000,
	0.1rem 0.2rem 0 #000;
	--text-outline: 
	-0.2rem 0.2rem 0 #000,  
	0.2rem 0.2rem 0 #000,
	0.2rem -0.2rem 0 #000,
	 -0.2rem -0.2rem 0 #000;
}
 
.btn {
	box-shadow: 0rem 0.5rem 0.1rem 0rem rgba(0, 0, 0, 0.60);
    border: 0.4rem solid var(--black-001);
	border-radius: 0.8rem;
}

.green-btn {
    background: var(--green-button-outer);
}

.green-btn span {
	display: inline-block;
	position: relative;
	z-index: 3;
}

.green-btn::after {
	content:"";
	display: inline-block;
	position: relative;
	background: var(--green-button-inner);
	border-radius: 0.8rem;
}

.red-button {
    background: var(--red-button-outer);
}



/* 
.tk-hwt-artz { font-family: "hwt-artz",sans-serif; }
.tk-lunatix { font-family: "lunatix",sans-serif; }
.tk-fit-extra-wide { font-family: "fit-extra-wide",sans-serif; }
.tk-fit-compressed { font-family: "fit-compressed",sans-serif; }
.tk-fit-condensed { font-family: "fit-condensed",sans-serif; }
.tk-fit-skyline { font-family: "fit-skyline",sans-serif; }
.tk-fit-wide { font-family: "fit-wide",sans-serif; }
.tk-fit-extra-extended { font-family: "fit-extra-extended",sans-serif; }
.tk-fit-ultra-extended { font-family: "fit-ultra-extended",sans-serif; }
.tk-fit { font-family: "fit",sans-serif; }
.tk-fit-extended { font-family: "fit-extended",sans-serif; }
.tk-fit-extra-condensed { font-family: "fit-extra-condensed",sans-serif; } */

.squaddie-container {
	display: flex;
	flex-direction: row;
	position: absolute;
	left: 9rem;
	top: 20.6rem;
	right: 0rem;
	bottom: 12.4rem;
	width: 183rem;
	height: 77.8rem;
	text-align: center;
	overflow: hidden;
}

.squaddie header {
	width: 10.7rem;
	height: 2.8rem;
	background-color: var(--black-001);
	padding-top: 0.6rem;
	margin-bottom: -0.4rem;
	z-index: 4;
}

.squaddie h6 {
	letter-spacing: 0.1rem;
	text-align: center;
	font-size: 1.8rem;
	color: var(--white-001);
	font-weight: 600;
	letter-spacing: 0.1rem;
	text-shadow: var(--text-shadow-2px);
}

.squaddie section {
	position: relative;
	margin-right: 3rem;
	width: 35rem;
	height: 75rem;
	border: 0.4rem solid var(--black-001);
	text-align: center;
}

.squaddie section h2 {
	color: var(--white-001);
	font-size: 4.8rem;
	font-weight: 700;
	margin-top: 4.8rem;
	letter-spacing: 0.2rem;
	line-height: 5.9rem;
	margin-bottom: -0.5rem;
	text-shadow: var(--text-shadow-4px);
 }

 .squaddie section .character {
	margin-top: 2.3rem
 }

 .squaddie ul {
	color: var(--white-001);
	text-align: center;
	font-size: 1.5rem;
	line-height: 1.5rem; /* 100% */
	letter-spacing: 0.45px;
	text-shadow: var(--text-outline);
 }

 
 .squaddie-stats {
	margin-top: 2.3rem;
	display: grid;
	grid-gap: 1rem;
	grid-template: 3rem 3rem/ 10rem 10rem 10rem;
	margin-left: 2.8rem;
 }

 .stats {
	background-color: var(--black-001);
	margin: 0.4rem;
	color: var(--white-001);
	font-size: 1.8rem;
 	font-weight: 700;
	border-radius: 3rem;
	width: 10.5rem;
	height: 3.5rem;
	padding: 0.5rem;
 }

 .strength {
	position: relative;
	top: 0.5rem;
 }

.squaddie-health span {
		position: relative;
		left: -2rem;
		top: 0.3rem;
 }

 .squaddie-strength span {
		position: relative;
		left: -2.4rem;
		top: -0.2rem;
 }

.add-squaddie-btn {
	margin-top: 3rem;
	margin-right: 3.4rem;
	margin-left: 3rem;
	width: 28.5rem;
	height: 5rem;
	color: var(--white-001);
	font-size: 3.3rem;
	font-weight: 700;
	line-height: 3.9rem;
	letter-spacing: 0.1rem;
	text-shadow: var(--text-outline);
}

.add-squaddie-btn span {
	margin-top: 0.2rem;
} 

 .add-squaddie-btn::after {
	top: -3.7rem;
	width: 27.4rem;
	height: 3.4rem;
	/* margin-top: -0.2rem; */
	filter: blur(1px);
	border-radius: 0.8rem;
}

.remove-squaddie-btn {

}

.upgrade-btn {
	border: 0.2rem solid var(--black-001);
	box-shadow: none;
	height: 3.2rem;
	width: 10rem;
	border-radius: 0.8rem;
	margin-top: 0.5rem;
}

.upgrade-btn-content {
	margin-top: 0.5rem;
	margin-left: 0.2rem;
	text-shadow: var(--text-outline);
	color: white;
	font-size: 1.8rem;
}

.btn-up-arrow {
	position: relative;
	right: 2rem;
	bottom: 0.3rem;
}

.gold-medal {
	position: absolute;
	right: 1.5rem;
	bottom: 0.1rem;
}

.gold-medal-outline {
 	position: absolute;
	right: 1.5rem;
	bottom: 0.1rem;
	z-index: -1;
}

.upgrade-price {
	position: absolute;
	right: -0.6rem;
	bottom: 0.2rem;
	z-index: -1;
}

.squaddie-blue section {
	background-color: var(--blue-medium);
}

.squaddie-green section {
	background-color: var(--green-002);
}

.squaddie-red section {
	background-color: var(--red-002);
}

.squaddie-yellow section {
	background-color: var(--yellow-003);
}

/* .squaddie-unavailable header {

} */

.squaddie-unavailable section {
	background: linear-gradient(180deg, #ffd7f228 0%, #9b00004b 100%);
}

.squaddie-unavailable div,
.squaddie-unavailable button {
	display : none;
}

