/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 6rem;
	height: 3.4rem;
	margin-top: 1rem;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	color: #ffffff;
}

.slider:after {
	content: 'max';
	position: relative;
	top: 0.6rem;
	left: 1.6rem;
	font-family: HWT Artz;
	color: #ffffff;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: normal;
}

.slider:before {
	content: '\00D7 1';
	padding: 0.3rem;
	position: absolute;
	left: 0.2rem;
	background-color: #3dbe42;
	font-size: 1.4rem;
	color: #000;
	font-family: HWT Artz;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: normal;
}

input:checked + .slider {
	background-color: #3dbe42;
}

.slider.round {
	border-radius: 5.5rem;
	height: 2.5rem;
	width: 7rem;
}

.slider.round:before {
	border-radius: 5.5rem;
	height: 2.1rem;
	width: 3.5rem;
	top: 0.2rem;
}
